<p id="notice"><%= notice %></p>


  <%if @search.search_books.empty? %>
 <p> nothing</p>
 <%else%>
  <% @search.search_books.each do |c|%>

  <p><%= link_to c.name, c %></p>
  <p><%=c.category.name%></p>

  <%end%>
  <%end%>